<configuration>
  <system.webServer>
    <applicationInitialization
      doAppInitAfterRestart="true"
      skipManagedModules="true" >
      <add initializationPage="/warmup.php" hostName="csa-nvm-web2"/>
    </applicationInitialization>
  </system.webServer>
</configuration>
<tracing>
  <traceFailedRequests>
    <clear/>
    <add path="*">
      <traceAreas>
      <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,Rewrite,iisnode" verbosity="Verbose" />
      </traceAreas>
      <failureDefinitions statusCodes="200-600" />
    </add>
  </traceFailedRequests>
</tracing>
